In [9]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from lxml import objectify
import math
import urllib

# matplotlib
%matplotlib inline
pd.set_option('display.width', 5000)
pd.set_option('display.max_columns', 60) 
plt.style.use('default')

In [49]:
# w_counts.to_csv(path_or_buf='NovemberWeekdayJourneys.csv')
november.df.Duration = november.df.Duration.astype(int)
sw_time = november.df.s_date.apply(lambda x: x.weekday() < 5)
w_counts = november.df.loc[sw_time, ['Duration', 'e_date', 'e_id', 's_date', 's_id']]
w_counts.set_index(w_counts.s_date, inplace=True)
w_counts.set_index(w_counts.index.time, inplace=True)
w_counts

          Duration              e_date  e_id              s_date  s_id
00:08:00       423 2012-11-01 00:15:00   574 2012-11-01 00:08:00   234
00:03:00      1396 2012-11-01 00:27:00   406 2012-11-01 00:03:00     2
00:10:00       288 2012-11-01 00:15:00    39 2012-11-01 00:10:00   512
00:04:00       957 2012-11-01 00:20:00   107 2012-11-01 00:04:00     4
00:09:00       769 2012-11-01 00:22:00   515 2012-11-01 00:09:00   405
00:03:00       246 2012-11-01 00:07:00   423 2012-11-01 00:03:00   395
00:00:00       551 2012-11-01 00:09:00   440 2012-11-01 00:00:00   221
00:05:00       567 2012-11-01 00:14:00    23 2012-11-01 00:05:00   154
00:01:00       747 2012-11-01 00:13:00   358 2012-11-01 00:01:00   311
00:00:00       760 2012-11-01 00:13:00   358 2012-11-01 00:00:00   311
00:04:00       484 2012-11-01 00:12:00   200 2012-11-01 00:04:00   512
00:10:00      1109 2012-11-01 00:28:00   225 2012-11-01 00:10:00   571
21:49:00      2287 2012-11-01 22:28:00   197 2012-11-01 21:49:00   194
19:26:00       238 2012-11-01 19:30:00   426 2012-11-01 19:26:00   161
08:03:00       517 2012-11-01 08:12:00   232 2012-11-01 08:03:00   287
13:25:00       678 2012-11-01 13:36:00   142 2012-11-01 13:25:00   128
09:18:00       554 2012-11-01 09:27:00   516 2012-11-01 09:18:00   570
17:52:00       722 2012-11-01 18:05:00    25 2012-11-01 17:52:00   234
11:16:00       521 2012-11-01 11:25:00    65 2012-11-01 11:16:00    11
16:34:00       461 2012-11-01 16:41:00    14 2012-11-01 16:34:00   162
16:51:00       583 2012-11-01 17:00:00   175 2012-11-01 16:51:00   436
19:05:00       430 2012-11-01 19:12:00   197 2012-11-01 19:05:00   112
13:14:00       349 2012-11-01 13:20:00   409 2012-11-01 13:14:00   262
08:39:00       374 2012-11-01 08:45:00   114 2012-11-01 08:39:00   312
08:40:00      1036 2012-11-01 08:57:00   341 2012-11-01 08:40:00   119
18:12:00      1323 2012-11-01 18:34:00   142 2012-11-01 18:12:00   186
22:02:00       913 2012-11-01 22:17:00   406 2012-11-01 22:02:00   226
08:02:00      1382 2012-11-01 08:25:00   309 2012-11-01 08:02:00   487
07:48:00       634 2012-11-01 07:59:00    88 2012-11-01 07:48:00    34
00:05:00       676 2012-11-01 00:17:00   485 2012-11-01 00:05:00   444
...            ...                 ...   ...                 ...   ...
07:20:00       818 2012-11-30 07:34:00    84 2012-11-30 07:20:00   321
18:03:00       173 2012-11-30 18:06:00   168 2012-11-30 18:03:00   277
15:49:00       312 2012-11-30 15:54:00   500 2012-11-30 15:49:00   552
07:37:00       931 2012-11-30 07:52:00     6 2012-11-30 07:37:00    93
17:15:00       495 2012-11-30 17:23:00    14 2012-11-30 17:15:00   436
23:19:00      1153 2012-11-30 23:38:00   381 2012-11-30 23:19:00   420
09:31:00       426 2012-11-30 09:38:00    97 2012-11-30 09:31:00    37
20:07:00       801 2012-11-30 20:20:00   192 2012-11-30 20:07:00   112
09:49:00       428 2012-11-30 09:56:00    40 2012-11-30 09:49:00   512
08:04:00       857 2012-11-30 08:18:00    14 2012-11-30 08:04:00   463
08:00:00       653 2012-11-30 08:11:00    66 2012-11-30 08:00:00   154
15:12:00       661 2012-11-30 15:23:00   322 2012-11-30 15:12:00    96
17:58:00       483 2012-11-30 18:06:00   466 2012-11-30 17:58:00   326
07:39:00      1124 2012-11-30 07:58:00   364 2012-11-30 07:39:00   251
17:44:00      1648 2012-11-30 18:12:00   284 2012-11-30 17:44:00   587
19:23:00      1069 2012-11-30 19:41:00   165 2012-11-30 19:23:00   129
08:43:00       998 2012-11-30 09:00:00   167 2012-11-30 08:43:00   261
18:02:00      1710 2012-11-30 18:31:00   282 2012-11-30 18:02:00   159
17:22:00       992 2012-11-30 17:38:00   141 2012-11-30 17:22:00   126
15:57:00      1117 2012-11-30 16:15:00   349 2012-11-30 15:57:00    76
18:41:00       509 2012-11-30 18:50:00   208 2012-11-30 18:41:00   210
13:35:00      3171 2012-11-30 14:28:00   432 2012-11-30 13:35:00   332
13:29:00       680 2012-11-30 13:40:00   199 2012-11-30 13:29:00    72
08:25:00       749 2012-11-30 08:38:00   322 2012-11-30 08:25:00   449
17:46:00      1213 2012-11-30 18:06:00   192 2012-11-30 17:46:00   170
06:11:00      1081 2012-11-30 06:29:00   340 2012-11-30 06:11:00   270
14:11:00       229 2012-11-30 14:15:00    24 2012-11-30 14:11:00    19
08:57:00       829 2012-11-30 09:10:00   331 2012-11-30 08:57:00   512
11:26:00       317 2012-11-30 11:31:00   281 2012-11-30 11:26:00   177
15:15:00      1120 2012-11-30 15:34:00   383 2012-11-30 15:15:00    17

[571204 rows x 5 columns]

In [54]:
hours = pd.Series(pd.date_range(start='2015-01-01', periods=96, freq='15Min')).dt.time
peak_time = (w_counts.index > hours[32]) & (w_counts.index < hours[33])
am_peak = w_counts.loc[peak_time, ['s_id', 'e_id', 's_date', 'e_date', 'Duration']]
# am_peak.to_csv('AM_Peak.csv', header=['Source','Target','Start','End','Duration'], index=False)
am_peak.e_id = am_peak.e_id.astype(int)
am_peak.s_id = am_peak.s_id.astype(int)
am_peak.dtypes
# If Duration > x, use in subsequent time frame dataframe with key?

s_id                 int32
e_id                 int32
s_date      datetime64[ns]
e_date      datetime64[ns]
Duration             int32
dtype: object

In [60]:
counts = pd.Series()
adjacency = pd.DataFrame(index=pd.Series(range(1, 781)), columns=pd.Series(range(1, 781)))
for x in range(0,len(am_peak)):
    sid = am_peak.iloc[x][0]
    eid = am_peak.iloc[x][1]
    row_indexer = (am_peak.s_id == sid) & (am_peak.e_id == eid)
    multiples = am_peak.loc[row_indexer, ['s_id', 'e_id']]
    counts = counts.append(pd.Series([len(multiples)]))      
    adjacency[eid][sid] = len(multiples)
counts.reset_index(drop=True, inplace=True)
am_peak.reset_index(drop=True, inplace=True)
am_peak['counts'] = counts

In [82]:
edges = adjacency.dropna([0,1], how='all').fillna(0)
edges = edges.astype(int)
edges.to_csv('EdgesMetrix(eidxsid).csv', sep=';')

In [15]:
# All journeys from 287 - 232
rowspot = (am_peak.s_id == 287) & (am_peak.e_id == 232)
trip = am_peak.loc[rowspot, ['s_id', 'e_id', 'Duration', 'counts']]
trip.Duration.mean() # Potentially use in weightings

       s_id  e_id    Duration  counts
count    14    14   14.000000      14
mean    287   232  505.428571      14
std       0     0   43.990758       0
min     287   232  446.000000      14
25%     287   232  469.750000      14
50%     287   232  506.000000      14
75%     287   232  519.250000      14
max     287   232  602.000000      14

In [58]:
 
# if pd.isnull(test):
#     print("Fuck Yer")
# else:
#     print("No it aint")
adjacency[3][4]

          s_id  e_id
08:04:00     4     3
08:08:00     4     3

In [46]:
test

nan

In [86]:
output = november.df[['s_id', 'e_id', 's_date', 'e_date']]
output.to_csv('NovemberTransactions.csv', header=['Source','Target','Start','End'], index=False)

In [87]:
output

        s_id  e_id              s_date              e_date
0        234   574 2012-11-01 00:08:00 2012-11-01 00:15:00
1          2   406 2012-11-01 00:03:00 2012-11-01 00:27:00
2        512    39 2012-11-01 00:10:00 2012-11-01 00:15:00
3          4   107 2012-11-01 00:04:00 2012-11-01 00:20:00
4        405   515 2012-11-01 00:09:00 2012-11-01 00:22:00
5        395   423 2012-11-01 00:03:00 2012-11-01 00:07:00
6        221   440 2012-11-01 00:00:00 2012-11-01 00:09:00
7        154    23 2012-11-01 00:05:00 2012-11-01 00:14:00
8        311   358 2012-11-01 00:01:00 2012-11-01 00:13:00
9        311   358 2012-11-01 00:00:00 2012-11-01 00:13:00
10       512   200 2012-11-01 00:04:00 2012-11-01 00:12:00
12       571   225 2012-11-01 00:10:00 2012-11-01 00:28:00
13       194   197 2012-11-01 21:49:00 2012-11-01 22:28:00
15       161   426 2012-11-01 19:26:00 2012-11-01 19:30:00
16       287   232 2012-11-01 08:03:00 2012-11-01 08:12:00
17       128   142 2012-11-01 13:25:00 2012-11-01 13:36:00
18       570   516 2012-11-01 09:18:00 2012-11-01 09:27:00
19       234    25 2012-11-01 17:52:00 2012-11-01 18:05:00
20        11    65 2012-11-01 11:16:00 2012-11-01 11:25:00
21       162    14 2012-11-01 16:34:00 2012-11-01 16:41:00
22       436   175 2012-11-01 16:51:00 2012-11-01 17:00:00
23       112   197 2012-11-01 19:05:00 2012-11-01 19:12:00
25       262   409 2012-11-01 13:14:00 2012-11-01 13:20:00
26       312   114 2012-11-01 08:39:00 2012-11-01 08:45:00
27       119   341 2012-11-01 08:40:00 2012-11-01 08:57:00
29       186   142 2012-11-01 18:12:00 2012-11-01 18:34:00
30       226   406 2012-11-01 22:02:00 2012-11-01 22:17:00
31       487   309 2012-11-01 08:02:00 2012-11-01 08:25:00
32        34    88 2012-11-01 07:48:00 2012-11-01 07:59:00
33       444   485 2012-11-01 00:05:00 2012-11-01 00:17:00
...      ...   ...                 ...                 ...
726862   321    84 2012-11-30 07:20:00 2012-11-30 07:34:00
726863   277   168 2012-11-30 18:03:00 2012-11-30 18:06:00
726864   552   500 2012-11-30 15:49:00 2012-11-30 15:54:00
726865    93     6 2012-11-30 07:37:00 2012-11-30 07:52:00
726866   436    14 2012-11-30 17:15:00 2012-11-30 17:23:00
726867   420   381 2012-11-30 23:19:00 2012-11-30 23:38:00
726868    37    97 2012-11-30 09:31:00 2012-11-30 09:38:00
726870   112   192 2012-11-30 20:07:00 2012-11-30 20:20:00
726871   512    40 2012-11-30 09:49:00 2012-11-30 09:56:00
726872   463    14 2012-11-30 08:04:00 2012-11-30 08:18:00
726873   154    66 2012-11-30 08:00:00 2012-11-30 08:11:00
726874    96   322 2012-11-30 15:12:00 2012-11-30 15:23:00
726875   326   466 2012-11-30 17:58:00 2012-11-30 18:06:00
726876   251   364 2012-11-30 07:39:00 2012-11-30 07:58:00
726877   587   284 2012-11-30 17:44:00 2012-11-30 18:12:00
726878   129   165 2012-11-30 19:23:00 2012-11-30 19:41:00
726879   261   167 2012-11-30 08:43:00 2012-11-30 09:00:00
726880   159   282 2012-11-30 18:02:00 2012-11-30 18:31:00
726881   126   141 2012-11-30 17:22:00 2012-11-30 17:38:00
726882    76   349 2012-11-30 15:57:00 2012-11-30 16:15:00
726883   210   208 2012-11-30 18:41:00 2012-11-30 18:50:00
726884   332   432 2012-11-30 13:35:00 2012-11-30 14:28:00
726885    72   199 2012-11-30 13:29:00 2012-11-30 13:40:00
726886   449   322 2012-11-30 08:25:00 2012-11-30 08:38:00
726887   170   192 2012-11-30 17:46:00 2012-11-30 18:06:00
726888   270   340 2012-11-30 06:11:00 2012-11-30 06:29:00
726889    19    24 2012-11-30 14:11:00 2012-11-30 14:15:00
726890   512   331 2012-11-30 08:57:00 2012-11-30 09:10:00
726891   177   281 2012-11-30 11:26:00 2012-11-30 11:31:00
726892    17   383 2012-11-30 15:15:00 2012-11-30 15:34:00

[706372 rows x 4 columns]